p{
  display:inline-block;
  box-sizing: border-box;
width: 200px;
padding: 2px;
border-bottom: 2px solid black;
color: black;
}
div{
  background-color:black;
    width: 140px;
  color:  white;}
  H1{
    text-align: center;
  font-size: 48px;
  border-bottom: 20px solid green;
}
  footer{
    background-color:black;
  width: 180px;
color:  white;
}





  
