.container{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 10px;
  width: 50%;
  margin: auto;
}
.textarea{
  grid-column: 1/3;
}
.formcontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
 .button{
  width: 50px;
}  
/*after input*/
.badge{
  margin-top: 30px;
  border: 1px solid black;
  /* width:710px;
  margin-left: 355px; */
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 10px;
  width: 50%;
  margin: auto;
}
.text{
  grid-column: 1/3;
  border: 1px solid black;
  margin:30px 10px 30px 10px;
  display: inline-flex;

}