@media only screen and (min-width: 1132px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: repeat(23, 150px);
  }
  

    .div1{
      border: 1px solid black;
      grid-row:1/3 ;
      grid-column:1/3 ;
      text-align: center;
      background-color: #b8eaea;
    }
    .div2{
      border: 1px solid black;
      grid-row:1/3 ;
      grid-column:3/4 ;
      background-color:#b8eaea ;
    }
    .div3{
      border: 1px solid black;
      grid-row:3/9 ;
      grid-column:1/3 ;
      background-color: #eaf3f3;
    }
    .div4{
      border: 1px solid black;
      grid-row:3/9;
      grid-column:3/4;
      background-color:lightgreen ;

    }
    .div5{
      border: 1px solid black;
      grid-row: 9/14;
      grid-column: 1/3
    }
    .div6{
      border: 1px solid black;
      grid-row: 9/14;
      grid-column:3/4;
      background-color: rgba(138,188,159,0.5);
    }
    .div7{
      border: 1px solid black;
      grid-row: 14/20;
      grid-column: 1/3
    }
    .div8{
      border: 1px solid black;
      grid-row:14/20;
      grid-column: 3/4;
    }
    .div9{
      border: 1px solid black;
      grid-row: 20/22;
      grid-column: 1/4;
    }
    .div10{
      border: 1px solid black;
      grid-row:22/23;
      grid-column:1/4;
    }
    
    .head{
      font-family: 'Julius Sans One';
      font-size: 50px;
    }
    .paragraph1{
      font-family:'Libre Baskerville', sans-serif;
    }
    .seebox{
      background-color: rgba(14, 131, 111, 0.2);
      height: 50px;
      width: 200px;
    }
    .div2{
      text-align: center;
      position: relative;
    }
    .div2 span{
      position: absolute; 
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .div3{
      padding-left: 200px;
      padding-right: 100px;
      margin: 12px, 0px;
      line-height: 2;
      font-size: 16px;
      font-family: sans-serif;
    }
    
    .span1{
      font-style: italic;
    }
    .span2{
      cursor: pointer;
    }
    .list{
      cursor: pointer;
    }
    .div5{
      padding-left: 200px;
      padding-right: 100px;
      margin: 12px, 0px;
      line-height: 2;
      background-color: rgba(138, 158, 159);
      font-size: 16px;
      font-family: sans-serif;
    }
    .unorderedList2 li{
      padding-top: 20px;
      border-top: 1px solid black;
      margin-right: 50px;
      margin-top: 50px;
      list-style: none;
    }
    .unorderedList2{
      padding-left: 100px;
      font-family: 'Julius Sans One', sans-serif;
      font-size: 1.2em;
    }
    
    .div7{
      padding-left: 200px;
      padding-right: 100px;
      margin: 12px, 0px;
      line-height: 2;
      font-size: 16px;
      font-family: sans-serif;
      background-color: #f0f5f5 ;
    }
    .div8{
      background-color:  #def3f3;
    }
    
    .div9{
      line-height: 2;
      font-size: 25px;
      text-align: center;
      padding-top: 5%;
      background-color: #b8eaea;
    }
    .ital{
      font-style: italic;
    }
    .hover:hover{
      cursor: pointer;
      text-decoration: underline;
    }
    .div10{
      background-color: darkcyan;
    }
    
    .unorderedList li{
      border-top: 1px solid black;
      margin-right: 50px;
      margin-top: 25px;
      list-style: none;
    }
    .unorderedList{
      padding-left: 100px;
    }
    .text{
      font-size: 20px;
    }
    .icons{
      margin-top: 50px;
      font-size: 50px;
      margin-left: 40%;
    }
  }
  
  












@media only screen and (max-width: 1132px) {
  .container {
    display: grid;
    grid-template-rows: repeat(39, auto)

  }

    .div1{
      border: 1px solid black;
      text-align: center;
      background-color: #b8eaea;
      grid-row: 1/2;
    }
    .div2{
      border: 1px solid black;
      background-color:#b8eaea ;
      height:75px;
      padding-top:75px ;
      grid-row:2/3;
    }
    .div3{
      border: 1px solid black;
      background-color: #eaf3f3;
      grid-row:3/12;
    }
    .div4{
      border: 1px solid black;
      background-color:lightgreen ;
      grid-row:30/34;
    }
    .div5{
      border: 1px solid black;
      grid-row:12/19;
    }
    .div6{
      border: 1px solid black;
      background-color: rgba(138,188,159,0.5);
      grid-row:34/39;
    }
    .div7{
      border: 1px solid black;
      grid-row: 19/27;
    }
    
    .div9{
      border: 1px solid black;
      grid-row:27/29;
    }
    .div10{
      border: 1px solid black;
      grid-row: 29/30;
      text-align: center;

    }
    .head{
      font-family: 'Julius Sans One';
    }
    .paragraph1{
      font-family:'Libre Baskerville', sans-serif;
    }
    .seebox{
      background-color: rgba(14, 131, 111, 0.2);
      height: 50px;
      width: 200px;
    }
    .div2{
      text-align: center;
      position: relative;
    }
   
    }
    .div3{
      padding-left: 50px;
      padding-right: 50px;
      margin: 12px, 0px;
      line-height: 2;
      font-size: 16px;
      font-family: sans-serif;
    }
    
    .unorderedList li{
      padding-top: 10px;
      border-top: 1px solid black;
      margin-right: 50px;
      margin-top: 10px;
      list-style: none;
      display: inline-block;
      line-height: normal;
    }
    .unorderedList{
      display:grid;
      padding-left: 50px;
      grid-template-columns: 1fr 1fr;
    }
    .span1{
      font-style: italic;
    }
    .span2{
      cursor: pointer;
    }
    .list{
      cursor: pointer;
    }
    .div5{
      padding-left: 50px;
      padding-right: 50px;
      margin: 12px, 0px;
      line-height: 2;
      background-color: rgba(138, 158, 159);
      font-size: 16px;
      font-family: sans-serif;
    }
    .unorderedList2 li{
      padding-top: 10px;
      border-top: 1px solid black;
      margin-right: 50px;
      margin-top: 10px;
      list-style: none;
      display: inline-block;
      line-height: normal;
    }
    
    .unorderedList2{
      display:grid;
      padding-left: 50px;
      grid-template-columns: 1fr 1fr;
    }
    
    .div7{
      padding-left: 50px;
      padding-right: 50px;
      margin: 12px, 0px;
      line-height: 2;
      font-size: 16px;
      font-family: sans-serif;
      background-color: #f0f5f5 ;
    }
   
    
    .div9{
      line-height: 2;
      font-size: 25px;
      text-align: center;
      padding-top: 5%;
      background-color: #b8eaea;
    }
    .ital{
      font-style: italic;
    }
    .hover:hover{
      cursor: pointer;
      text-decoration: underline;
    }
    .div10{
      background-color: darkcyan;
      height:150px;
      
    }
    .text{
      font-size: 20px;
    }
  .div6{
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    list-style: none;
  }
  .icons{
    margin-top: 50px;
    font-size: 50px;
  }
  


  
