.home{
  margin-left: 25%;
}
.homey{
  margin-top:100px;
  text-align: center;
  font-size: 100px;
}
.pokemon{
margin-left: 45%;
}
.boxy{
  text-align: center;
}
.middle{
  margin-top:100px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
}